@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*ful-header-continer box start*/

.ful-header-continer{
    height:1050px;
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
    

}

.navbar{
    display: flex;
    justify-content: space-between;
    margin:0 130px ;
    padding-top: 30px;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
    color: rgb(66, 66, 66);
}

/*header text decoretion*/
.header-text{
    margin: 70px 300px;
    text-align: center;   

}
.header-text h2{
    font-size: 40px;
    font-weight: 700;

}
.header-text p{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.header-text button{
    background-color: rgb(255, 144, 14);
    color: white;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    border: none;
}
    /*header banner*/
.banner-box{
    height: 600px;
    max-width: 1400px;
   
    margin: 0 auto;
    
}
.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    
}


/*ful-header-continer box end*/
/*Quick list of Our Features start*/
.teams{
    display: flex;
    margin: 10px 150px;
}
.our-features{
    
    align-items: center;
    margin: 10px 100px;
    padding-top: 220px;
}
.our-features h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.our-features button{
    background-color: rgb(255, 144, 14);
    color: white;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    border: none;
    margin-top: 20px;
}

.our-features p{
    font-size: 16px;
    color: rgb(114, 114, 114);
}
.first-text{
    color: rgb(114, 114, 114);
}
.second-text{
    color: rgb(19, 19, 19);
}
.third-text{
    color: rgb(255, 144, 14);
}



.team-image-continer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}
/*Quick list of Our Features  END*/




  /*media quarry small devise start*/  
 @media screen  and (max-width: 573px ) {
    .navbar{
    margin: 0 10px;
    font-size: small;
    }
    .project-name{
        font-size: small;
    }
    .nav-links{
        gap: 6px;
    }


    .header-text{
        margin: 10px 20px;
    }
    .banner{   
        background-size: cover;
        height: 300px;  
}

.ful-header-continer{
    height:670px;
    width: 100%;
}

 /*team image contener start*/
 .team-image-continer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    
}
.teams{
    flex-direction: column;
    margin: 10px 10px;
}
.our-features{

    margin: 10px 10px;
    padding-top: 20px;

 }
}
  /*media quarry small devise end*/ 

   /*media quarry medium devise start*/ 
   @media screen and (min-width: 576px) and (max-width: 992px){
    .header-text{
        margin: 50px 20px;
    }
    .ful-header-continer{
        height:810px;
        width: 100%;
    }
    .teams{
        flex-direction: column;
        margin: 10px 10px;
        padding-top: 200px;
    }
    .our-features{
    
        margin: 10px 50px;
        padding-top: 30px;
    
     }
   }
  /*media quarry medium devise end*/ 
  
 /*media quarry long device start*/
 @media screen and (min-width: 992px) and (max-width:1024px){

    .teams{
        flex-direction: column;
        margin: 10px 150px;
        padding-top: 10px;
    }

    .our-features{
    
        margin: 10px 50px;
        padding-top: 30px;
    
     }
     .header-text{
        margin: 50px 100px;
    }

 }
/*media quarry long device end*/
  



   